.logo-div > img{
	margin-bottom: 0;
}


img{
	width: 100%;
	margin-bottom: 1em;
}

.image-list{
	columns: 300px;
}

.see-more{
	width: 100%;
	display: flex;
	justify-content: center;
}


.see-more > a{
	color: var(--gray-light);
	font-weight: bold;
	font-size: 25px;
	padding: 25px;
	background-color: var(--dark-two);
	margin: 10px;
	border-radius: 12px;
    transition: .1s cubic-bezier(0, 0.37, 1, 0.67);
}

.see-more > a:hover{
	background-color: var(--red-wine-dark);
	color: var(--light);
}