:root{
	--link-padding: 20px 32px 20px 32px;
	--dark-one: rgb(0,0,0);
	--dark-two: rgb(13,13,13);
	--gray-dark: rgb(105, 105, 105);
	--gray-light: rgb(189, 189, 189);
	--light: rgb(240, 240, 240);
	--red-wine-dark:rgb(131, 0, 0);
	--red-wine:rgb(181, 0, 0);

}

.slider_video_title{
	width: 100%;
	color: var(--light);
}

.video_title{
	display: flex;
	justify-content: center;
	align-items: center;
}
.glide__slide{
	width: 480px;
    height: 270px;
}

iframe{
	height: 100%;
	width: 100%;
	border: none;
	border-radius: 12px;
	padding: 10px;
}