@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://rsms.me/inter/inter.css");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root{
	--link-padding: 20px 32px 20px 32px;
	--dark-one: rgb(0,0,0);
	--dark-two: rgb(13,13,13);
	--gray-dark: rgb(105, 105, 105);
	--gray-light: rgb(189, 189, 189);
	--light: rgb(240, 240, 240);
	--red-wine-dark:rgb(131, 0, 0);
	--red-wine:rgb(181, 0, 0);

}
li{
	margin: 0;
	align-items: center;
	justify-content: center;
}
.slider_video_title,
.slider_image_title{
	font-family: "Poppins", sans-serif;
	width: 100%;
	color: var(--gray-light);
	font-style: oblique;
	padding-bottom: 20px;
	padding-top: 10px;
}

.video_title,
.image_title{
	display: flex;
	justify-content: center;
	align-items: center;
}

.glide__slide{
	aspect-ratio: 16 / 9;
	margin: 0;
	align-self: center;
	justify-self: center;
	width: 100%;

}

iframe{
	height: 100%;
	border-radius: 12px;
}

.image_slide{
	object-fit: none;
}
img{
	width: 450px;
}